// .slide {
//   @extend .row;
//   @extend .align-center;
//   @extend .align-middle;
//   background-size: cover;
//   background-position: center;
//   overflow: hidden;
//   max-width: 100%;
//   min-height: 100vh;

//   > .row {
//     @extend .small-12;
//     @extend .column;
//   }
// }

.slide, .slide--top {
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  padding: ($global-padding * 4) 0;

  &--narrow {
    min-height: inherit;
  }
}

.slide--title, .slide--middle {
  @extend .slide;
  @include display(flex);

  > .row {
    @extend .small-12;
    @extend .columns;
    // @extend .align-middle;
  //   @include justify-content(center);
    @include align-items(center);
  //   @include align-content(center);
  }
}
