@import "bourbon/bourbon";
@import "foundation";
@import "base/base";

@import "themes";

@import "images";

@import "blocks/slides";


.product {
  height: 300px;
  border: 1px solid black;
  margin-bottom: $global-margin;
}

.box {
  border: 1px solid white;
  display: block;
}
