@import "vendor/normalize";
@import "bourbon/bourbon";

.slide {
  @include flex(1 0 auto);
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  position: relative;
  min-height: 100vh;
  // box-sizing: border-box;
  padding: 0;
  // border-bottom: 1px solid rgba(black, 0.5);
  // overflow: hidden;

  // @include media($medium-screen-up) {
  //   padding: ($base-line-height * $base-font-size) * 1.5;
  // }
}

