@mixin blocks-slides {
  .slide, .slide--top {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    padding: ($base-padding * 4) 0;
    text-align: center;

    &--narrow {
      min-height: inherit;
    }
  }

  .slide--middle, .slide--title {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
  }
}
