// Typography
$base-font-family: $helvetica;

// Font Sizes
$base-font-size: 1em;

$base-weight-normal: normal;

// Line height
$base-line-height: 1.5;

// Other Sizes
$base-border-radius: 3px;
// $base-spacing: $base-line-height * 1em;
$base-spacing: 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

$base-padding: 1rem;

// Colors
$white: #fefefe;
$blue: #53aee0;
$dark-red: #ed143d;
$purple: #732382;
$black: #0a0a0a;
$dark-gray: #424242;
$medium-gray: #999;
$light-gray: #ededed;

// Font Colors
$base-font-color: $white;
$action-color: $white;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $blue;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Grid
@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

$screen-sizes: (small medium large);

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
) !default;

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Neat Breakpoints
$medium-screen: map-get($breakpoints, medium);
$large-screen: map-get($breakpoints, large);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

// Headers
$heading-font-family: $base-font-family;
$heading-line-height: 1.4;

$heading-sizes: (
  small: (
    'h1': 24,
    'h2': 20,
    'h3': 19,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 48,
    'h2': 40,
    'h3': 31,
    'h4': 25,
    'h5': 20,
    'h6': 16,
  ),
);
